body {
font-family: 'Inika', serif;
}
h1,h2,h3,h4,h5 {
font-family: 'Fenix', serif;
}
header {
	background-color:black;
	color: white;
	padding:10px;
}
header a {
	color:white;
}
header a:hover {
	color:white;
}
#logo {
	width:200px;
	margin-left:10px;
}
#search {
	top:18px;
	right:60px;
	float:right;
	position:absolute;
}

#comments li {
	list-style-type:none;
	padding:10px;
	margin:0px 0px 10px 0px;
}
#comments {
	margin:0;
	padding:0;
}
.thread {
	margin-left:15px;
}
.commentlinks {
	font-size:11px;
	margin-top:6px;
	height:24px;
}
.commentbox {
	margin-bottom:0px;
}
.comment-btn {
	margin-bottom:10px;
}
.icon-thumbsup {
	background-image:image-url("thumbsup.png");
}
.icon-thumbsdown {
	background-image:image-url("thumbsdown.png");
}
.icon-thumbsup-small {
	background-image:image-url("thumbsup.png");
}
.icon-thumbsdown-small {
	background-image:image-url("thumbsdown.png");
}
.comment-text {
	min-height:50px;
}
.alert {
	margin-top:15px;
}
.pagination a, .pagination a:hover, .pagination a:visited {
	color:black;
}
.thumbs {
	width:25px !important;
	height:30px !important;
	background-position:0% 0%;
	text-indent:-9999px;
	display:block;
	margin-left:13px;
}
.nav-pills > .active > a {
	background-color:black;
	color:white;
}
.nav-pills > .active > a:hover {
	background-color:black;
}

.nav-pills  a {
	color:black;
}